{{#each this}}
  <li>
    <h2>{{name}}</h2>
    <img src="{{flag}}" alt="" width="360">
    <article>
        <p>Capital: {{capital}}</p>
        <p>Population: {{population}}</p>
        <p>Languages: </p>
        <ul>
          {{#each languages}}
            <li>{{this.name}}</li>
          {{/each}}
        </ul>
    </article>
  </li>
{{/each}}